[Unit]
Description=Dispatcharr Redis

[Container]
Image=docker.io/library/redis:alpine
ContainerName=dispatcharr-redis
Network=dispatcharr-net.network
NetworkAlias=redis
Volume=%h/.config/containers/volumes/media-stack/dispatcharr/redis:/data:Z

HealthCmd=CMD-SHELL redis-cli ping
HealthInterval=5s
HealthTimeout=5s
HealthRetries=12
HealthStartPeriod=5s
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
