[Unit]
Description=Any-Sync-Bundle Redis

[Container]
Image=docker.io/redis/redis-stack-server:7.4.0-v7
ContainerName=any-sync-bundle-redis
Network=any-sync-bundle-net.network
NetworkAlias=redis
Exec=redis-server --port 6379 --dir /data/ --appendonly yes --maxmemory 256mb --maxmemory-policy noeviction --protected-mode no --loadmodule /opt/redis-stack/lib/redisbloom.so
Volume=%h/.config/containers/volumes/any-sync-bundle/redis:/data:Z
HealthCmd=CMD-SHELL redis-cli -h localhost -p 6379 ping
HealthInterval=5s
HealthTimeout=5s
HealthRetries=12
HealthStartPeriod=5s
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
