WUD_WATCHER_LOCAL_CRON=0 6 * * *

# Restringe o WUD a observar só containers marcados com Label=wud.watch=true
# (ver seção "Filtrando quais containers observar" no README)
WUD_WATCHER_LOCAL_WATCHBYDEFAULT=false
